*.sql
*.log
*.xml
config.inc.php
cache_image
.cache
.sass-cache
tmp/*
deploy/
/*.sh
.well-known/
assets/components/minifyx/cache/
assets/files/*
assets/images/*
assets/upload1c/*
adminer.php
core/packages/*/
core/cache/*

#
/bower_components
/node_modules
node_modules

#IDE 
.vscode/*
.idea/
nbproject/*