<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-xxl-6">
        <div class="footer-title">Stay with us</div>
        <div class="footer-description">Mahjong Journey is constantly evolving. Become part of our community and follow us on:</div>
        <ul class="footer-socials">
          <li>
            <a href="">
              <i class="icon-fb"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon-tw"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon-yt"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon-in"></i>
            </a>
          </li>
        </ul>
        <div class="footer-subscribe">
          <form action="">
            <div class="form-group">
              <div class="input-holder">
                <input class="input" type="email" placeholder="Email" />
                <button class="btn btn-primary" type="submit">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-links">
      <div class="footer-links__group">
        <span>G5 ENTERTAINMENT ®</span>
        <span>&copy;2021 G5 Entertainment AB</span>
      </div>
      <div class="footer-links__group">
        <a href="">Terms of Service</a>
        <a href="">Privacy Policy</a>
        <a href="">G5 Store Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
