<header class="header">
  <div class="container">
    <div class="logo">
      <a href="">
        <img src="../img/Logo-en.png" alt="project" />
      </a>
    </div>
    <div class="button-container">
      <button class="btn btn-play">Play Now</button>
      <h1 class="game-description">Match Tiles & Relax</h1>
    </div>
  </div>
  <div class="img-r">
    <img src="../img/MJ_tiles.png" alt="MJ tiles" />
  </div>
  <div class="img-l">
    <img src="../img/eva_thinking.png" alt="eva  thinking" />
  </div>
</header>
