:root {
  --white: #ffffff;
  --font-color: #393939;
  --btn-color: #ef4b00;
  --btn-hover: #fa7d00;
  --bg-input: #fbe6ce;
}

// Fonts
$ftFiraSans: "Fira Sans", sans-serif;
$ftNotoSans: "Noto Sans", sans-serif;
$ftPoppips: "Poppins", sans-serif;
